body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 20px;
    text-align: center;
}

div #colores {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    height: 100%;
    align-items: center;
}
#tablaColores {
    
    width: 90%;
    margin: 0 auto;
}

input[type="button"] {
    width: 100%;
    height: 100%;
    cursor: pointer;

}
#amarillo { background-color: yellow; }
#verde { background-color: green; }
#black { background-color: black; }
#rojo { background-color: red; }
#azul { background-color: blue; }
#blanco { background-color: white; }
#desactivar { background-color: white; }
#borrar { background-color: white; }

/* Tablero de dibujo */
#tablero {
    margin-top: 30px;
    display: inline-block;
    padding: 10px;
    background-color: #fff;
}

#tablaDibujo td {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}